body {
  font-family: "Roboto", sans-serif;
  background: #d6d3f8;
  size: 600px;
}
a {
  color: #668cbf;
  font-size: 14px;
  font-weight: bolder;
}
header {
  padding: 0 0 30px 5px;
}
.temp {
  display: block;
  margin-left: 120px;
  margin-top: 100px;
  border-radius: 16px 0 0 16px;
}
.weather-app {
  max-width: 575px;
  width: 100%;
  margin-left: 300px;
  margin-top: -420px;
  border-radius: 16px;
  padding: 20px;
  position: fixed;
}

.search-form-input {
  background-color: #f0ecfa;
  border: none;
  border-radius: 0 6px 6px 0;
  width: 75%;
  font-size: 16px;
  padding: 20px 25px;
}

.search-form-button {
  background: #6b6b6c;
  padding: 20px 40px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: #f9f7fe;
  position: fixed;
}

.weather-app-city {
  margin: -20px 0 20px 0;
  font-size: 70px;
  line-height: 40px;
  color: #022842;
}

.weather-app-details {
  font-size: 20px;
  color: #2a4f67;
  line-height: 24px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: -15px;
}

.weather-app-details strong {
  color: #022842;

  font-size: 30px;
}

.weather-app-temperature-container {
  display: flex;
  padding: -10px;
  color: #022842;
  margin: -50px 0 20px 0;
  font-size: 70px;
  line-height: 40px;
}
.weather-app-data {
  display: flex;
  justify-content: space-around;
}
.weather-app-icon {
  width: 60px;
  height: 60px;
}

.weather-app-temperature {
  font-size: 70px;
  line-height: 88px;
  font-weight: bold;
}

.weatehr-app-unit {
  font-size: 30px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  border-top: 2px solid #c1c1c5;
}
.weather-forecast-date {
  line-height: 10px;
  text-align: center;
  color: #111236;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: 500;
}
.weather-forecast-icon {
  text-align: center;

  margin-top: 5px;
  width: 30px;
  margin-left: 5px;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #111236;
  line-height: 35px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: -10px;
}
.weather-forecast-temperature {
  padding: 0 7px;
}

footer {
  border-top: 2px solid #c1c1c5;
  padding: 5px 0 0 0;
  text-align: left;
  font-size: 12px;
  color: #050606;
  font-weight: bold;
}
