body {
  font-family: "Roboto", sans-serif;
  background: #c6d4e7;
}
a {
  color: #668cbf;
  font-size: 13px;
}
header {
  border-bottom: 1px solid #111236;
  padding: 0 0 30px 0;
}
.temp {
  display: block;
  margin-left: 100px;
  margin-top: 100px;
  border-radius: 16px;
}
.weather-app {
  max-width: 575px;
  width: 100%;
  margin-left: 300px;
  margin-top: -420px;
  border-radius: 16px;
  padding: 20px;
  position: fixed;
}

.search-form-input {
  background-color: rgb(243, 239, 239);
  border: none;
  border-radius: 6px;
  width: 75%;
  font-size: 16px;
  padding: 20px 25px;
}

.search-form-button {
  background: #1d1646;
  padding: 20px 40px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: #f9f7fe;
  position: fixed;
}
.weather-app-data {
  display: flex;
  justify-content: space-around;
}
.weather-app-city {
  margin: 10px 0;
  font-size: 70px;
  line-height: 40px;
  color: #022842;
}

.weather-app-details {
  font-size: 16px;
  color: #2a4f67;
  line-height: 24px;
  font-weight: 600;
  margin-top: -25px;
}

.weather-app-details strong {
  color: #050606;
  font-size: 25px;
}

.weather-app-temperature-container {
  display: flex;
  padding: -10px;
  margin-top: -20px;
  color: #022842;
}

.weather-app-icon {
  width: 70px;
  height: 70px;
}

.weather-app-temperature {
  font-size: 70px;
  line-height: 88px;
  font-weight: bold;
}

.weatehr-app-unit {
  font-size: 50px;
  margin-top: 8px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  line-height: 10px;
  text-align: center;
  color: #111236;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 500;
}
.weather-forecast-icon {
  text-align: center;

  margin-top: 5px;
  width: 30px;
  margin-left: 5px;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #111236;
  line-height: 35px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-left: 10px;
}
.weather-forecast-temperature {
  padding: 0 7px;
}

footer {
  border-top: 1px solid #111236;
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: #050606;
  font-weight: 600;
  margin-top: -20px;
}
